body { font-family: arial; font-size: 9pt;  }
p { 	text-align: justify; margin-bottom: 4pt;  margin-top:0pt; }

hr {	width: 70%; height: 1px; 
  text-align: center; color: #000; 
  margin-top: 8pt; margin-bottom: 8pt; }

table {font-family: arial; font-size: 9pt; line-height: 1.2; 
			margin-top: 2pt; margin-bottom: 5pt;
			border-collapse: collapse; }

/* thead {	font-weight: bold; vertical-align: bottom; }
tfoot {	font-weight: bold; vertical-align: top; }
thead td { font-weight: bold; }
tfoot td { font-weight: bold; } */

th {	font-weight: bold; 
  vertical-align: top; 
  padding-left: 2mm; 
  padding-right: 2mm; 
  padding-top: 0.5mm; 
  padding-bottom: 0.5mm; 
  }

td {	padding-left: 2mm; 
  vertical-align: top; 
  padding-right: 2mm; 
  padding-top: 0.5mm; 
  padding-bottom: 0.5mm;
  }

th p { margin:0pt;  }
td p { margin:0pt;  }

table.widecells td {
  padding-left: 5mm;
  padding-right: 5mm;
}
table.tallcells td {
  padding-top: 3mm;
  padding-bottom: 3mm; 
}

h1 {	font-weight: normal; font-size: 26pt; color: #000; 
  font-family: arial; margin-top: 18pt; margin-bottom: 6pt; 
  border-top: 0.075cm solid #000; border-bottom: 0.075cm solid #000; page-break-after:avoid; }
h2 {	font-weight: bold; font-size: 9pt; color: #000; 
  font-family: arial; margin-top: 6pt; margin-bottom: 6pt; 
  border-top: 0.07cm solid #000; border-bottom: 0.07cm solid #000; text-transform: uppercase; page-break-after:avoid; }
h3 {	font-weight: normal; font-size: 26pt; color: #000; 
  font-family: arial; margin-top: 0pt; margin-bottom: 6pt; 
  border-top: 0; border-bottom: 0; page-break-after:avoid; }
h4 { font-size: 13pt; color: #000; 
  font-family: arial; margin-top: 10pt; margin-bottom: 7pt; 
  font-variant: small-caps; page-break-after:avoid; }
h5 {	font-weight: bold; font-style:italic; ; font-size: 11pt; color: #000; 
  font-family: arial; margin-top: 8pt; margin-bottom: 4pt; page-break-after:avoid;}
h6 {	font-weight: bold; font-size: 9.5pt; color: #000; 
  font-family: arial; margin-top: 6pt; margin-bottom: 4pt; page-break-after:avoid; }
.text-center{text-align:center;}
.no-margin{margin:0px;}
.no-padding{padding:0px;}
.grey{color:#c6c6c6;}